.pageHome {
  display: flex;
  flex-flow: row wrap;
  > * {
    padding: 10px;
  }

}

[class*="__pageHome"] {
  [class="col-1"] {
    flex: .4;
  }
  [class="col-2"] {
    flex: 1;
  }

}

@media all and (max-width: 600px) {
  [class*="__pageHome"] {
    [class="col-1"], [class="col-2"] {
      flex: 1 100%;
    }
  }
}
